<p id="notice"><%= notice %></p>

<div class="media">
  <div class="col-sm-2">
    <img class="rounded-circle img-fluid" src="https://bipbap.ru/wp-content/uploads/2019/07/skvishi-32-800x800-640x640.jpg">
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <%= @user.firstName %>
      <%= @user.secondName %>
    </h4>
    <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-outline-info"  %>
    <ul class>
      <li><span><%= @posts.count %></span> posts</li>
      <li><span>100</span> followers</li>
      <li><span>100</span> following</li>
    </ul>
  </div>
</div>

<%= link_to 'Back', users_path, class: "btn btn-outline-info"  %>

<div class="posts">
    <% @posts.each do |post| %>
        <section class="post">
            <div class="user">
                <div class="avatar">
                    <img src="user_avatar.jpg">
                </div>
                <div class="username">
                    <%= post.user.firstName%> <%= post.user.secondName%>
                </div>
            </div>
            <%= image_tag post.image, class: 'main-image' %>
            <div class="description">
                <%= post.description %>
            </div>
        </section> 

    <% end %>
</div>